@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: rgb(231, 231, 231);
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
}

.App {
  text-align: center;
}

/*Robot Card*/
.robot-details-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.robot-details-container button {
  width: 100px;
  background-color: black;
  color: white;
}
.robot-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.robot-card-container {
  width: 25%;
  min-width: 225px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px;
  background-color: rgb(202, 202, 202);
  border-radius: 8px;
}

.robot-card-container img {
  width: 80%;
}

.delete {
  background-color: rgb(218, 5, 5);
  color: white;
}

.delete:hover {
  background-color: white;
  color: rgb(218, 5, 5);
}

.battle {
  background-color: black;
  color: white;
}

.battle:hover {
  background-color: white;
  color:black;
}

.robot-card-container button {
  transform: translateY(-10px);
  margin-bottom: 5px;
}

button {
  border: none;
  border-radius: 3px;
  padding: 8px;
  font-size: 12px;
  font-weight: 600;
  margin: 5px;
  background-color: white;
}

button:hover {
  background-color: black;
  color: white;
}

.battle-container {
  text-align: center;
}

.robot-edit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.robot-edit input {
  width: 70%;
  padding: 5px;
  margin: 5px;
}

.button-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  transform: translateX(10px);
}
